@model IEnumerable<StoreKom.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Produkty</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var product in Model)
{
 @Html.Partial("_Product", product)

   
}

