@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    StoreKom<br />
    Gdańsk, Św. Ducha 13/2<br />
    <abbr title="Phone">Phone:</abbr>
    512-305-313
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:StoreKom@gmail.com">StoreKom@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:StoreKom@gmail.com">StoreKom@example.com</a>
</address>