@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>StoreKom</h1>
    <p class="lead">StoreKom działa na rynku już od 15 lat. Podchodzimy do każdego waszego zamówienia z najwyższym priorytetem</p>
    <h2>Życzymy udanych zakupów :D</h2>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nasze Produkty</h2>
        <p>
            Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
            Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
            Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
            Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Newsletter</h2>
        <p>
            Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
            Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
            Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
            Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
        </p>
      
    </div>
    <div class="col-md-4">
        <h2>Konfigurator</h2>
        <p>
            Y Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
            Y Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
            Y Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
            Y Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum  Lorem ipsum
        </p>
        
    </div>
</div>